html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.three {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: move;
}
